<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignIn</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <link href="../../public/styles/index.css" rel="stylesheet">
</head>
<body>
    <div class="bgRed">
        <form class="simpleForm" id="form">
          <img src="https://static-00.iconduck.com/assets.00/profile-default-icon-512x511-v4sw4m29.png" id="user-avatar" />
          <p class="title">Bienvenid@: <span id="usernameC">Username</span></p>
          <!-- <p class="errorMsg">Error</p> -->
          <div id="error" class="displayNone"></div>
          <div class="formInput">
            <label>Nombre de usuario:</label>
            <input 
              type='text' 
              placeholder='MyUser94'
              id="username"
            />
          </div>
          <div class="formInput">
            <label>Correo:</label>
            <input 
              type='email' 
              placeholder='correo@example.com'
              id="email"
            />
          </div>
          <div class="formInput">
            <label>Contraseña:</label>
            <input 
              type='password' 
              placeholder='Password'
              id="password"
            />
          </div>
          <div class="formInput">
            <label>Confirmar Contraseña:</label>
            <input 
              type='password' 
              placeholder='Password'
              id="confirm-password"
            />
          </div>
  
          <div>
            <p>Elige un avatar (No te preocupes, puedes cambiarlo después):</p>
            <div class="avatars">
              <img 
                class="selectableAvatar"
                src="https://cdn.icon-icons.com/icons2/1736/PNG/512/4043251-avatar-female-girl-woman_113291.png"
                id="first"
              />
              <img 
                class="selectableAvatar"
                src="https://cdn4.iconfinder.com/data/icons/avatars-xmas-giveaway/128/batman_hero_avatar_comics-512.png"
                id="second"
              />
              <img 
                class="selectableAvatar"
                src="https://cdn1.iconfinder.com/data/icons/halloween-2330/512/50-Halloween_Icons_49-1024.png"
                id="third"
              />
            </div>
          </div>
  
          <A href='/login'>¿Ya tienes una cuenta? Inicia Sesión</A>
  
          <button 
            class="blackButton"
          >
            CREAR CUENTA
          </button>
        </form>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
      <script src="../../public/js/api.js" ></script>
      <script src="./register.js"></script>
</body>
</html>