<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <link href="../../public/styles/index.css" rel="stylesheet">
</head>
<body>
    <div>
        <div class="bgRed bgGray halfWidth textWhite">
            <div class="paypalLogo">
                <img src="https://upload.wikimedia.org/wikipedia/commons/a/a4/Paypal_2014_logo.png">
                
            </div>
        </div>
        <div class="bgWhite halfWidth">
            <form class="paymentForm" id="paymentForm">
                <p>Pago con paypal</p>

                <div>
                    <label>Correo electrónico</label>
                    <input id="email" type="email" />
                </div>

                <div>
                    <label>Contraseña</label>
                    <input id="password" type="password" />
                </div>

                <div>
                    <label>País o región</label>
                    <select id="country">
                        <option>México</option>
                    </select>
                </div>
                
                <div class="btnContainer">
                    <button type="submit" class="blackButton">Suscribirse</button>
                </div>
                <a class="paypalLink" href="./payment.html">Hacer el pago con tarjeta</a>

                <p class="caption">Si confirmas tu suscripción, permitirás que Mini-X efectúe cargos de futuros pagos conforme a las condiciones estipuladas. Siempre puedes cancelar tu suscripción.</p>
            </form>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="../../public/js/api.js" ></script>
        <script src="../../public/js/token.js" ></script>
        <script src="./paypal.js"></script>
    </div>
</body>
</html>