<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <link href="../../public/styles/index.css" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navigator" >
            <div>
                <a class="logo" href="/">
                    <h1>Mini<span>-X</span></h1>
                </a>
                <input type="text" placeholder="Buscar" />
            </div>
      
            <div>
              <div class="messageIcon">
                <div>
                  <a href="/chats"><img src='https://cdn.icon-icons.com/icons2/1673/PNG/512/messagesquareoutline_110780.png' /></a>
                </div>
                <span><p>1</p></span>
              </div>
              <a href="#"><img src='https://cdn1.iconfinder.com/data/icons/halloween-2330/512/50-Halloween_Icons_49-1024.png' /></a>
            </div>
        </nav>  
    </header>
    <div class="bgRed">
        <form class="simpleForm">
          <img id="user-avatar" src="https://static-00.iconduck.com/assets.00/profile-default-icon-512x511-v4sw4m29.png" />
          <p class="title">Username</p>
          <!-- <p class="errorMsg">Error</p> -->
  
          <div class="formInput">
            <label>Cambiar nombre de usuario:</label>
            <input 
              type='text' 
              placeholder='MyUser94'
            />
          </div>
          <div class="formInput">
            <label>Cambiar Correo:</label>
            <input 
              type='email' 
              placeholder='correo@example.com'
            />
          </div>
          <div class="formInput">
            <label>Nueva Contraseña:</label>
            <input 
              type='password' 
              placeholder='Password'
            />
          </div>
          <div class="formInput">
            <label>Confirmar Nueva Contraseña:</label>
            <input 
              type='password' 
              placeholder='Password'
            />
          </div>
  
          <div>
            <p>Elige un avatar (No te preocupes, puedes cambiarlo después):</p>
            <div class="avatars">
                <img 
                  class="selectableAvatar"
                  src="https://cdn.icon-icons.com/icons2/1736/PNG/512/4043251-avatar-female-girl-woman_113291.png"
                  id="first"
                />
                <img 
                  class="selectableAvatar"
                  src="https://cdn4.iconfinder.com/data/icons/avatars-xmas-giveaway/128/batman_hero_avatar_comics-512.png"
                  id="second"
                />
                <img 
                  class="selectableAvatar"
                  src="https://cdn1.iconfinder.com/data/icons/halloween-2330/512/50-Halloween_Icons_49-1024.png"
                  id="third"
              />
            </div>
          </div>
  
          <button 
            class="blackButton"
          >
            EDITAR DATOS
          </button>
        </form>
      </div>
      <script src="./user.js"></script>
</body>
</html>